
.container {
  width: 100%;
  max-width:100%;
  margin: 0 auto;
  padding: 0 1px;
  background-color: white;
  display: inline;
  }

  a {
		 
		text-decoration:none;
		padding: 10px

  }
 hr {
 	color: gray;
 	width: 100%
 }

  h3{
		text-decoration: none;

 }
 ul {
	float: right;
 	display: block;
 	text-decoration: none;
}
li {
	display:inline-block;
  text-decoration:none;
}
img {
	width: 118px;
	height: 118px;
	align-self: center;
	border-radius: 50%
}

.encabezado{
	margin: 0 auto;
	background-color: #E5EAFA;
	border-left: 2px;
	border-color: black; 
	padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}